@charset "utf-8";
/* CSS Document */
/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
body {
	line-height: 1
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clr {
	clear:both;
}
.alignleft {
	float: left;
	margin:0 20px 20px 0px;
}
.alignright {
	float:right;
	margin:0 0 20px 20px;
}
.txtleft {
	text-align:left
}
.txtcenter {
	text-align:center!important;
}
/* #Basic Styles
================================================== */
html,body {margin:0 auto; padding:0; height:100%; }

/**/
html {
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

* {
    -webkit-overflow-scrolling: touch;
}
body {
	font-size:12px;
	color: #222;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	/*-webkit-overflow-scrolling: touch;*/
}
/* #Typography
================================================== */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
em {
	font-style: italic
}
strong {
	font-weight: 700;
}
/*    Blockquotes  */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020"
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555
}
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}
/* #Links
================================================== */

a, a:visited {
	text-decoration: none;
	outline: 0;/*-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;*/
}
a:hover, a:focus {
	text-decoration: none;
	outline:none;
}
img:hover { outline:none;}
p a, p a:visited {
	line-height: inherit
}
/* #Lists
================================================== */
ul, ol {
	margin:0
}
ul {
	list-style: none outside
}
ol {
	list-style: decimal
}
ol, ul.square, ul.circle, ul.disc {
	margin-left: 30px
}
ul.square {
	list-style: square outside
}
ul.circle {
	list-style: circle outside
}
ul.disc {
	list-style: disc outside
}
ul ul li, ul ol li, ol ol li, ol ul li {
	margin: 0;
	padding:0;
}
li {
	line-height: 18px;
}
/* #Images
================================================== */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* #Buttons
================================================== */

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, ::-moz-focus-inner {
border: 0;
padding: 0;
}

/* custom css */

.wrapper { margin:0 auto; padding:0; position:relative;height:auto !important; height:100%; min-height:100%;background-color: #fff;}

/*.navigation-div{ padding: 0;margin: 0;background-color: #fff;box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); }*/
.navigation-div { padding: 0; margin: 0; position: fixed; background-color: #fff; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); top: 0; width: 100%; z-index: 99; }
.navbar-custom{ padding: 10px 0!important;margin: 0;height: 90px;}
.navbar-custom .img-logo{ width: 160px;}
.navbar-custom .custom-collapse{ float: right!important; }
.navbar-custom li.nav-item { padding: 10px 10px;margin: 0 0;}

/*.navbar-custom li.nav-item a.nav-link{ border: 1px solid transparent; }
.navbar-custom li.nav-item:hover a.nav-link{ border: 1px solid #222; }*/

.navbar-custom a.nav-link { font-size: 16px;color: #000!important;margin: 0 0px 0 0;padding: 10px 10px!important;border-bottom: 1px solid transparent;transition: all 0.3ms ease-in-out; text-transform: capitalize;}
.navbar-custom a.active {font-weight:600;border-bottom: 1px solid #000;}

.navbar-custom .dropdown-item { padding: 10px;text-transform: capitalize; }
.navbar-custom .nav-item .dropdown-menu{ border-radius: 0px!important; min-width: 15em!important; position: absolute;right: 0;left: auto; }
.navbar-custom .dropdown-item:focus,.navbar-custom .dropdown-item:hover { color: #fff;text-decoration: none;background-color: #1f6cdf;}
.navbar-custom .custom-logo { width: 280px; height:auto;}
.navbar-custom img.img-responsive.icon-down{ width: 10px; margin-top: -2px; }

.navigation-div .navbar-custom .dropdown-toggle::after { display: none; }
.navigation-div .navbar-custom  .text-span1{ padding: 0 5px 0 0; }

.middle-container{ margin: 90px 0 0 0; }

.banner-section{ padding: 0;margin: 0;position: relative;background-image: linear-gradient(to right, #00aeef , #2e3192); }
.banner-div{ padding: 0;margin: 0;background: url(../images/bg-page-section1.png) no-repeat bottom;background-size: cover;height: 160px;display: flex;justify-content: center;align-items: center;  }
.banner-div h2{ padding: 0;margin: 0;color: #fff;font-weight: 600;height: 160px;display: flex;align-items: center;font-size: 30px; }

.main-section { padding: 0;margin: 0;position: relative; }
.main-div { padding: 50px 0;margin: 0; }

.breadcumb-div{ padding: 0;margin: 0;position: relative;   }
.breadcumb-div p{ padding: 10px 0;margin: 0;font-size: 13px; }
.breadcumb-div .link-a{ color: #222;font-weight: 600; }
.breadcumb-div .plr-5{ padding: 0 5px; }

.grid-06{ padding: 0;margin: 0;position: relative;   }

.left-content { padding: 30px 0 0 0;margin: 0; }
.left-content p{ padding: 0;margin: 0 0 5px 0;font-size: 14px; }

.custom-form-group{ padding: 0;margin: 0; }
.custom-form-group .form-control.select-form { padding: 0 8px;margin: 0; width: auto;   min-width: 220px; }
.custom-form-group .form-control.select-form{ -webkit-box-shadow: none;box-shadow: none;color: #222;-webkit-appearance: none !important;-moz-appearance: none !important;height: 36px;padding: 6px 10px;box-shadow: none;border-radius: 0px; }
select.form-control { -webkit-appearance: none !important; -moz-appearance: none !important; appearance: none !important; background-image: url(../images/icons/down.png); background-color: transparent; background-position: right 10px top 15px; background-repeat: no-repeat; }

.box-img-thumb{ padding: 20px 15px;margin: 0;border: 1px solid #ddd; }

.right-content { padding: 30px 0 0 0;margin: 0; }
.right-content p{ padding: 0;margin: 0 0 5px 0;font-size: 14px; }

.accordion-div{ padding: 0px 0;margin: 0; }
.accordion-div .card{ border-radius: 0px; }
.accordion-div .card-header { padding: 18px;background-color: #666;color: #fff;border-radius: 0px!important;padding: 15px; }
.accordion-div .card-header .card-link{ padding: 0px 5px;color: #fff;font-size: 14px;text-transform: uppercase; }

.accordion-div .card-body{ padding: 15px; }

.box-form{ padding: 0px 0;margin: 0; }
.box-form h3{ padding: 0px 5px 10px 5px;margin: 0;font-size: 14px;font-weight: 700;border-bottom:1px solid #d9d9d9;  } 

.form-div1{ padding: 15px 0 5px 0;margin: 0; }
.form-div1 label { padding: 0px 0 5px 0;margin: 0;font-size: 14px;line-height: 18px;min-height: 38px;display: flex;   align-items: center; }
.form-div1 .form-group { padding: 0;margin: 0 0 10px 0;min-height: 40px; }
.form-div1 .form-group .form-control{ border-radius: 0px;width: 85%; }
.form-div1 .form-group .form-control:hover, .form-div1 .form-group .form-control:focus{ box-shadow: none; }

.tooltips-link { position: absolute;top: 0;right: 0;height: 100%;display: flex;justify-content: center;align-items: center;text-align: left !important; }
.tooltips-link .i-info{ font-size: 16px;color: #666; text-align: left!important;} 
.toopltip-p{ font-size: 14px!important;text-align: left;padding: 5px ;margin: 0; }
 
.btn-float-left{ padding: 20px 0;margin-top: 10px; }

.existing-table-div{ padding: 30px 0 10px 0;margin: 0; }
.existing-table-div h4{ padding: 0px 0 0px 0;margin: 0;font-weight: 700;font-size: 18px;color: #000; }

.table-div01{ padding: 10px 0 0px 0;margin: 0; }
.table-div01 .table.table-custom{ padding: 0;margin: 0;border: 1px solid #ddd; } 
.table-div01 .table.table-custom th{ background-color: #f7f7f7;font-size: 14px;font-weight: 600;color:#000;    padding: 10px;line-height: 24px; } 
.table-div01 .table.table-custom td{ font-size: 13px;font-weight: 400;color:#0753c5;padding: 10px;line-height: 24px; } 

.delete-i1{ color: #000; }

.table-div01 .width-45 {  width: 45%;min-width: 150px; }
.table-div01 .width-20 {  width: 20%;min-width: 150px;  }
.table-div01 .width-15 {  width: 15%;min-width: 100px; }
.table-div01 .width-10 {  width: 10%;min-width: 50px; }
.table-div01 .width-50 {  width: 50%;min-width: 200px; }

/* Footer */

.footer-section{ padding: 0;margin: 0;position: relative; }
.footer-div{ padding: 30px 0;margin: 0;display: flex;min-height: 100px;background-color: #7f7f7f;flex-direction: column;justify-content: center;align-items: center;width: 100%; }
.footer-div p{ padding: 0;margin: 0;text-align: center;font-size: 13px;color:#fff;display: block;width: 100%;line-height: 30px; }
.footer-div p > a{ padding: 0;margin: 0;color:#132136; }

/* End of footer */

/**********************/

/* Print Page */

.print-page-section{ padding:0;margin: 0; }
.print-page-div{ padding:0;margin: 0; }

.img-print{ width: 450px;text-align: center;margin: 20px 0 0 0; }

.print-page-div .form-div1 .form-group { padding: 0;margin: 0 0 5px 0;min-height: 100%; }
.form-div1 label { min-height: 30px; }

.print-header{ padding: 20px 0; }
.print-header .img-logo{ padding: 0px 0;width: 120px; }


/* End of Print Pages */








/* General CSS */

.p0{ padding: 0px 0 !important; }
.form-control:disabled, .form-control[readonly] {  background-color: #f6f6f6!important; }

.btn.btn-outline-custom1 { background-color: transparent; color: #4e90f3; text-transform: uppercase; font-size: 17px; font-weight: 600; border: 2px solid #4e90f3; border-radius: 24px; padding: 7px 30px; height: auto; float: right;transition: all 0.3s ease-in-out; }
.btn.btn-outline-custom1:hover, .btn.btn-outline-custom1:focus { background-color: #4e90f3; color: #fff;border: 2px solid #4e90f3;box-shadow: none; }

.btn.btn-solid-custom1 { background-color: #4e90f3; color: #fff; text-transform: uppercase; font-size: 17px; font-weight: 600; border: 2px solid #4e90f3; border-radius: 24px; padding: 7px 30px; height: auto; float: right;transition: all 0.3s ease-in-out; }
.btn.btn-solid-custom1:hover, .btn.btn-solid-custom1:focus { background-color: transparent; color: #4e90f3;border: 2px solid #4e90f3;box-shadow: none; }

.btn.btn-custom1 { background-color: #1f6cdf; color: #fff; text-transform: uppercase; font-size: 17px; font-weight: 600; border: 2px solid #1f6cdf; border-radius: 24px; padding: 4px 30px; height: 38px;transition: all 0.3s ease-in-out; }
.btn.btn-custom1:hover, .btn.btn-custom1:focus { background-color: transparent; color: #1f6cdf;border: 2px solid #1f6cdf; box-shadow: none;}

.box-form2{ padding: 20px 0 5px 0;margin: 0; }
.box-form2 h3{ padding: 0px 5px 10px 5px;margin: 0;font-size: 14px;font-weight: 700;border-bottom:1px solid #d9d9d9;  } 

.clear-link{ padding:0;margin:0;float: right;text-transform: uppercase;font-size: 11px;font-weight: 700; }
.cmt-10{ margin-top: 10px; }

/* End of General CSS */




@media (min-width: 1200px){

	.container { max-width: 1200px;}

}

.woocommerce-error, .woocommerce-info, .woocommerce-message { margin-top:10px!important;}
.woocommerce-message .button.wc-forward {padding: 10px 20px !important;}

@media only screen and (max-width: 767px){
	/*html, body { overflow-x:hidden;}*/
	body { overflow-x:hidden;}
	.container { width:100% !important;}
	.canvas { margin:0!important; padding:0!important;}

	.right-top { margin:10px 0 0 0;}
	.custom-logo-link { width:80%;}
	.navbar-custom .custom-logo {   width: 100%;   height: auto;}
	div#n2-ss-2 .n2-ss-layer .n2-font-dfd33d4495fa8364510322f6c0963ecb-hover { font-size:32px!important; padding: 20px;}


	.cardbox-div { padding: 20px 0; margin: 10px 0 0 0;}

	/* custom css */
	.navbar-brand { display: inline-block;padding-top: 0;padding-bottom: 0;margin-right: 0;}
	.navbar-toggler {float: right;padding: 0!important;font-size: 21px!important;line-height: 1;background-color:transparent!important;border-radius: 0;color: rgba(255, 255, 255, .0)!important;border-color: rgba(255, 255, 255, .0)!important;}
	button.navbar-toggler:focus {outline: 0px dotted;outline: 0px auto -webkit-focus-ring-color;}
	.navbar-custom { min-height: 100%;height: 100%;}
	.navbar-custom .img-logo {	width: 170px;}
	.menu-bars { margin-top: 0px;display: inline-block;vertical-align: middle;transition: all .3s ease-in-out;background: url(../images/menubar.png) no-repeat;width: 21px;height: 23px;}
	.navbar-custom li.nav-item {padding: 10px 5px;margin: 0 0;}
	.navbar-custom a.nav-link {font-size: 16px;	padding: 5px 0!important;}
	.navbar-custom a.active { border-bottom: 0px solid #000;}
	.navbar-custom img.img-responsive.icon-down {	width: 10px;right: 0;float: right; }
	ul.navbar-nav { padding: 10px 0 5px 0; }

	.navbar-custom .nav-item .dropdown-menu { position: relative;right: auto;left: auto;margin: 15px 0 0 0;padding: 10px 10px;text-transform: capitalize; }
	.middle-container {	margin: 80px 0 0 0; }
	
	.breadcumb-div p { padding: 10px 0 20px 0;	}
	
	.full-right a.btn.btn-outline-custom1 {	float: left;width: 100%; }
	.full-right.cmt-10 a.btn-solid-custom1 { float: left;width: 100%; }

	.breadcumb-div { text-align: left; }
	.custom-form-group .form-control.select-form{ width: 100%; }
	.left-content p { margin: 0 0 0px 0; }
	.form-div1 .form-group .form-control { 	width: 90%; }
	.box-form2 .form-div1 .form-group .form-control { width: 100%; }

	.footer-div p { padding:0 15px;margin: 0 0 5px 0; font-size: 13px;	line-height: 24px; }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.container { width:100% !important;}
	/*html, body { overflow-x:hidden;}*/
	body { overflow-x:hidden;}
	.canvas { margin:0!important; padding:0!important;}

	/* custom css */
	
	.navbar-brand { display: inline-block;padding-top: 0;padding-bottom: 0;margin-right: 0;}
	.navbar-toggler {float: right;padding: 30px 0!important;font-size: 21px!important;line-height: 1;background-color:transparent!important;border-radius: 0;color: rgba(255, 255, 255, .0)!important;border-color: rgba(255, 255, 255, .0)!important;}
	button.navbar-toggler:focus {outline: 0px dotted;outline: 0px auto -webkit-focus-ring-color;}
	.navbar-custom {height: 100%; padding: 0px 0!important;}
	.menu-bars { margin-top: 0px;display: inline-block;vertical-align: middle;transition: all .3s ease-in-out;background: url(../images/menubar.png) no-repeat;width: 21px;height: 23px;}
	.navbar-custom li.nav-item {padding: 10px 5px;margin: 0 0;}
	.navbar-custom a.nav-link {font-size: 16px;	padding: 5px 0!important;}
	.navbar-custom a.active { border-bottom: 0px solid #000;}

	.navbar-custom img.img-responsive.icon-down {	width: 10px;right: 0;float: right; }

	.navbar-custom .nav-item .dropdown-menu { position: relative;right: auto;left: auto; }
	.middle-container {	margin: 80px 0 0 0; }
	
	.breadcumb-div p { padding: 10px 0 10px 0;	}
	.left-content {	padding: 15px 0 0 0; }
	.left-content p { margin: 0 0 0px 0; }
	

}

@media only screen and (min-width: 1024px) and (max-width: 1366px)
{

	.navbar-custom {	height: 90px; padding: 0px 0!important; }
	.navbar-custom a.nav-link { font-size: 15px;padding: 5px 0!important; }
	.navbar-custom img.img-responsive.icon-down {	height: 22px; }
	.navbar-custom li.nav-item {	padding: 10px 10px; }
	.form-div1 label { font-size: 13px; }
	.tooltips-link { right: -5px; }
	.middle-container {	margin: 90px 0 0 0; }
	.form-control{ font-size: 13px; } 
	.form-control.select-form {	font-size: 13px; }
	select option{ font-size: 13px; }
	.custom-form-group .form-control.select-form {	font-size: 13px; }
	.grid-06.col-pro5 { -webkit-box-flex: 0;-ms-flex: 0 0 40%;flex: 0 0 40%;max-width: 40%; }
	.grid-06.col-pro7 { -webkit-box-flex: 0; -ms-flex: 0 0 60%; flex: 0 0 60%; max-width: 60%; }
	.navbar-custom .nav-item .dropdown-menu{ border-radius: 0px!important; min-width: 15em!important; position: absolute;right: 0;left: auto; }

}

